.so-widget-sow-image-default-cac9d8e48d2b .widget-title {
  text-align: center;
}
.so-widget-sow-image-default-cac9d8e48d2b .sow-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.so-widget-sow-image-default-cac9d8e48d2b .sow-image-container > a {
  display: inline-block;
  
  
}
.so-widget-sow-image-default-cac9d8e48d2b .sow-image-container .so-widget-image {
  display: block;
  
  
  
}